*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight:400 ;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight:300 ;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight:500 ;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight:700 ;
}

body{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../img/sporisevic-photography-V-g8k1xUZmc-unsplash.jpg);
    /*  */
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 0 120px; */
}

/* HTML: <div class="loader"></div> */
.loader {
    display: none;
    width: fit-content;
    font-size: 40px;
    line-height: 1.5;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background:
      radial-gradient(1.13em at 50% 1.6em,#000 99%,#0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
      radial-gradient(1.13em at 50% -0.8em,#0000 99%,#000 101%) 50% .8em/3.2em 100% repeat-x  text;
    animation: l9 2s linear infinite;
  }
  .loader:before {
    content: "Loading";
  }
  @keyframes l9 {
    to {background-position: calc(50% + 1.6em) 0,calc(50% + 3.2em) .8em}
  }
.container{
    /* background-color: antiquewhite; */
    display: flex;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}

.Wrapper_left{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    height: 100%;
    padding: 80px 0;
}
.Wrapper_left > img{
    width: 90px;
}

.weather_titles{
    display: flex;
    align-items: center;
    /* height: 100%; */
    max-width: 700px;
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 18px;
    margin-top: 10px;
    
}

.weather_title{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 120px;
    height: 150px;
    color: rgba(255, 255, 255, 0.04) ;
    border: 2px solid rgba(255, 255, 255, 0.5) ;
    backdrop-filter: blur(8px);

}

.weather_title > span {
    display: block;
    color: #ffffff;
    margin: 0 auto;
    font-size: 12px;
}

.weather_title  img {
    margin: 0 auto;

}
.temp_wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 10px;
}
.temp_wrapper span{
    display: flex;
    justify-content: center;
    justify-items: center;
    
    color: #ffffff;
}
.tod_weather_info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.tod_temp{
    font-size: 143px;
    color: #ffffff;
    letter-spacing:-8px;
}
.loc_time_Wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location{
    font-size: 60px;
    color: #ffffff;
}
.time{
    font-size: 18px;
    color: #ffffff;
}



.Wrapper_right{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color:  rgba(255, 255, 255, 0.14);
    border-left: 5px solid rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(8px);
    width: 400px;
    height: 100%;
    padding: 80px 0;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 10px;
}
.search_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 370px;
    height: 50px;
    border-bottom: 1px solid #ffffff;
    padding: 10px 0 ;
    /* position: absolute; */
}

.search_input > input {
    border: none;
    background-color: none;
    background: none;
    height: 100%;
    width: 90%;
    outline: none;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.9);

}

.search_input > input::placeholder{
    color:rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-family: 'Roboto';
}

.suggestionlist{
    position: absolute;
    z-index: 5;
    top: 130px;
    width: 370px;
    height: auto;
    margin-top: 5px;
}
.h_suggestionlist{
    display: none;
}
.suggestionlist > ul {
    list-style: none;
    color: rgb(255, 255, 255);
}
#search_icon{
    cursor: pointer;
}
.sug_li {
    font-family: 'Roboto';
    /* height: 30px; */
    background-color: #3a3a3aa9;
    backdrop-filter: blur(8px);
    padding: 5px 10px;
    border-bottom:1px solid rgba(0, 0, 0, 0.473) ;
    align-content: center;
}
.Weather_Detail_text{
    width: 370px;
    margin: 20px 0;
}
.Weather_Detail_text span{
    font-size: 18px;
    color: #ffffff;
}

.Weather_detail {
    width: 370px;
    margin: 20px 0;
    border-bottom: 1px solid #ffffff ;
}

.Weather_detail > span{
    display: block;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    
}

.row{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row > span{
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;

}

.row_temp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    color: #ffffff;
}